@use 'src/modules/colors';
@use 'src/modules/resets';

.dropdown {
  color: colors.$grey;
  position: relative;

  &-label {
    font-size: 0.9rem;
  }

  &-selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid colors.$grey;
    cursor: pointer;
    img {
      width: 1.3rem;
      height: 1.3rem;
      transition: transform 0.3s ease-out;
      &.rotated {
        transform: rotate(90deg);
      }
    }
  }

  &-selected , &-list{
    font-size: 1.3rem;
    color: black;
  }

  &-list {
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: white;
    @include resets.list;

    li {
      padding-left: 1rem;
      &:hover {
        background-color: colors.$grey;
      }
    }
  }
}
