@use 'src/modules/colors';
@use 'src/modules/resets';

.pink-button {
  color: white;
  padding: 1rem 0;
  width: 100%;
  cursor: pointer;
  border-radius: 13rem;
  background-color: colors.$pink;
  @include resets.button;
  &:hover {
    background-color: darken(colors.$pink, 10%);
  }
}
