@use 'src/modules/mixins.scss';

main {
  width: 70%;
  margin: 2rem auto 0;
  @media (max-width: 480px) {
    width: 98%;
  }
  @media (min-width: 481px) and (max-width: 900px) {
    width: 90%;
  }
}

#currency-panels {
  @include mixins.panels;
  &.swapped {
    flex-direction: row-reverse;
    @media (max-width: 480px){
      & {
        flex-direction: column-reverse;
      }
    }
  }
}

#bottom-panels {
  @include mixins.panels;
  margin-top: 1.5rem;
  > div:nth-of-type(2) {
    display: flex;
    .exchange-rate {
      margin-right: 1rem;
    }
  }
}

.selectable-rate-chart {
  margin-top: 0.7rem;
}

